header{
    text-align: center;
    color:black;
    padding:25px;
    background-color: aqua;
    border: 0;

}
nav{
    background-color: black;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1px;
}
.text{
    color: white;
  
}
.align{
    text-align: center;
}
section{
    width: 80%;
    height: 800px;
    background-color: antiquewhite;
    border: 0;
    text-align: justify;
    float: left;

}

aside{
    width: 20%;
    height: 800px;
    background-color: azure;
    border: 0;
    float: right;
}
@font-face {
    font-family: myfont;
    src: url(/font/Montserrat-VariableFont_wght.ttf);
}
p{
    font-family: myfont;
    color: red;
    
}

#para1{
    /* background-image: url(/image/background\ image.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
p.center{
    text-align: center;
    color: violet;
    text-shadow: 2px 2px black;
}

footer{
    background-color: brown;
    color: aliceblue;
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px;
}
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }